<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'All Posts' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="all-posts">
    <h1>All Posts</h1>
    <% if (!posts ||posts.length===0){ %>
    <p>No posts found - maybe start creating some?</p>
    <a class="bet" href="/new-post">create a new post</a>
    <% } else { %>
    <ol id="posts-list">
      <% for(let i = 0; i < posts.length; i++) {%>
      <li>
        <%- include('includes/post-item',{post:posts[i],author:authors[i]}) %>
      </li>
      <% } %>
      <% } %>
    </ol>
  </main>
</body>

</html>